<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="lt/vu/biblioteka/mybatis/dao/AutoriusMapper.xml"/>
        <mapper resource="lt/vu/biblioteka/mybatis/dao/KnygaMapper.xml"/>
        <mapper resource="lt/vu/biblioteka/mybatis/dao/SkaitytojasMapper.xml"/>
    </mappers>
</configuration>