<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.mybatis.mappers.KnygaMapper">

    <resultMap id="KnygaResult" type="lt.vu.mybatis.model.KnygaMyBatis">
        <id property="id" column="ID"/>
        <result property="pavadinimas" column="PAVADINIMAS"/>
        <result property="isbn" column="ISBN"/>
        <result property="autoriusId" column="AUTORIUS_ID"/>
        <association property="autorius" column="AUTORIUS_ID"
                     select="lt.vu.mybatis.mappers.AutoriusMapper.findById"/>
    </resultMap>

    <select id="loadAll" resultMap="KnygaResult">
        SELECT * FROM KNYGA
    </select>

    <select id="findById" resultMap="KnygaResult">
        SELECT * FROM KNYGA WHERE ID = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO KNYGA (PAVADINIMAS, ISBN, AUTORIUS_ID)
        VALUES (#{pavadinimas}, #{isbn}, #{autoriusId})
    </insert>

    <select id="findBySkaitytojas" resultMap="KnygaResult">
        SELECT k.* FROM KNYGA k
                            INNER JOIN SKAITYTOJAS_KNYGA sk ON k.ID = sk.KNYGA_ID
        WHERE sk.SKAITYTOJAS_ID = #{skaitytojasId}
    </select>

</mapper>